<section class="about">
    <div class="container">
        <h2 class="title-br">@Html.T("Branches")</h2>

        <div class="clearfix">
            <div class="certificate-item clearfix">
                <div class="text equalHeight">
                    @if (UICulture == "ar")
                    {
                        <h3>أيزو ٩٠٠١</h3>
                        <p>علامة الجودة العالمية  (أيزو 9001:2008)، لتطبيقها أعلى معايير الجودة العالمية.</p>
                    }
                    else
                    {
                        <h3>ISO 9001</h3>
                        <p>International Quality Mark ISO 9001:2008 for implementing the international standards of quality.</p>
                    }
                    
                </div>
                <div class="img equalHeight img-shadow">
                    <img src="~/Assets/images/iso-logo.png" alt="">
                </div>
            </div>
            <div class="certificate-item clearfix">
                <div class="text equalHeight">
                    @if (UICulture == "ar")
                    {
                        <h3>شهادة «الراب» العالمية</h3>
                        <p>وهي شهادة تصدر عن منظمة دولية غير ربحية وفقا لمعايير العمل الدولية والبيئية والأمنية، تخول المنتج الذي يحملها الدخول إلى كافة الأسواق في العالم، </p>
                    }
                    else
                    {
                        <h3>The RAB international certificate</h3>
                        <p>This certificate is issued by a non-profit international organization subject to the international, environmental and safety practice standards. It allows winning products to enter all world markets</p>
                    }
                </div>
                <div class="img equalHeight img-shadow">
                    <!--						<img src="images/iso-logo.png" alt="">-->
                </div>
            </div>
            <div class="certificate-item clearfix">
                <div class="text equalHeight">
                    @if (UICulture == "ar")
                    {
                        <h3>اليرجي البريطانية</h3>
                        <p>شهادة اليرجي البريطانية العالمية لملابس دروش الطبيعية 100% </p>
                    }
                    else
                    {
                        <h3>Allergy Certificate</h3>
                        <p>British Allergy Certificate for the Drosh 100% natural garments</p>
                    }
                </div>
                <div class="img equalHeight img-shadow">
                    <img src="~/Assets/images/allergy-logo.png" alt="">
                </div>
            </div>
            <div class="certificate-item clearfix">
                <div class="text equalHeight">
                    @if (UICulture == "ar")
                    {
                        <h3>شهادة البيئة السويسرية</h3>
                        <p>و تعنى هذه الشهادة العالمية، بأن جميع منتجات عجلان واخوانه إلى جانب جودتها صديقة للبيئة.</p>
                    }
                    else
                    {
                        <h3>Swiss environmental certificate</h3>
                        <p>Indicating that all Ajlan & Bros. Company products in addition to being of high quality, are environment friendly products and not hazardous to human health.</p>
                    }
                </div>
                <div class="img equalHeight img-shadow">
                    <!--						<img src="images/iso-logo.png" alt="">-->
                </div>
            </div>
            <div class="certificate-item clearfix">
                <div class="text equalHeight">
                    @if (UICulture == "ar")
                    {
                        <h3>
                            شهادة الأيكوتكس <br>
                            OEKO-TEX STANDARD 100
                        </h3>
                        <p>وهى خاصة بشركات الصباغة وتعني ان جميع العمليات التي تتم بالشركة غير ضارة بالبيئة وغير ضارة بالعاملين. </p>
                    }
                    else
                    {
                        <h3>Oeko-tex standard 100 certificate</h3>
                        <p>Means that all the corporate operations are non-hazardous to the environment or the manpower</p>
                    }
                </div>
                <div class="img equalHeight img-shadow">
                    <img src="~/Assets/images/oeko-tex-logo.png" alt="">
                </div>
            </div>
            <div class="certificate-item clearfix">
                <div class="text equalHeight">
                    @if (UICulture == "ar")
                    {
                        <h3>ساسو</h3>
                        <p>شهادة علامة الجودة من الهيئة العربية السعودية للمواصفات والمقاييس (ساسو).</p>
                    }
                    else
                    {
                        <h3>SASO</h3>
                        <p>the quality certificate from the Saudi Arabian standardization organization (SASO)</p>
                    }
                </div>
                <div class="img equalHeight img-shadow">
                    <!--						<img src="images/iso-logo.png" alt="">-->
                </div>
            </div>
        </div>
    </div>
</section>