<section class="consumer about">
    <div class="container">
        <h2 class="title-br">@Html.T("Our goals")</h2>

        <div class="clearfix">
            <div class="cols-2 text equalHeight">
                @if (UICulture == "ar")
                {
                    <h3>أهدافنا</h3>
                    <p>تقديم أفضل المنتجات ذات الجودة العالية، مع العمل بجدية لتلبية حاجة العملاء الكرام من خلال مجموعة متنوعة من العلامات التجارية ومراعاة الإبتكار دائماً.</p>
                    <h3>مبادئنا</h3>
                    <p>أهم مبادئنا الحرص على تقديم تصاميم لمنتجاتنا ترتكز على قيمنا وعاداتنا  وتقاليدنا التي نفتخر جميعا بها, و نحن نعمل هنا بمجموعة عجلان واخوانه كفريق واحد وذلك من أجل تقديم أفضل المنتجات وأحدث التصاميم وأرقى الماركات العالمية التي تتناسب مع جميع الاذواق والمستويات العمرية.</p>
                }
                else
                {
                    <h3>Our Goals</h3>
                    <p>Provide the highest quality products, while working towards fulfilling our customers' needs through a diversified group of brand names, always taking innovation into account.</p>
                    <h3>Our Principles</h3>
                    <p>Our most important values are to ensure that our product designs are focused on our traditions and heritage, We at Ajlan Bros. Group work as one team to provide the best products, most modern designs and the finest international brands that suit the tastes of all age ranges whether children, youth or adults.</p>
                }
                
            </div>
            <div class="cols-2 img equalHeight">
                <img src="~/Assets/images/company-profile.jpg" alt="">
            </div>
        </div>
    </div>
</section>