<section class="consumer about">
    <div class="container">
        <h2 class="title-br">@Html.T("Message from the Chairman")</h2> 

        <div class="clearfix">
            <div class="cols-2 text equalHeight">
                @if (UICulture == "ar"){
                
                    <p>بالنسبة لنا في شركة عجلان وإخوانه، عملائنا هو أهم ما نركز عليه، وهكذا هي حالة عجلان واخوانه منذ بدأت الشركة عملياتها قبل أربعين عام.</p>

                    <p>منذ المراحل الأولى من الإنتاج، واختيار المواد الخام، ورعاية كل التفاصيل، وإدارة العملية الصناعية، ونحن ملتزمون لتقديم أفضل المنتجات ذات الجودة لعملائنا الأوفياء مع على الحفاظ على البيئة ونلتزم بكل المعايير لحماية البيئة مثل OEKO تكس و WRAP ونمتثل اليها تماماً.</p>

                    <p>	وهذ الالتزام ساعدنا على ترسيخ علاماتنا التجارية في المملكة العربية السعودية وفي معظم أنحاء العالم العربي، حتى على الصعيد الدولي. ونحن فخورون بما حققته علاماتنا التجارية ومنتجاتنا حتى الآن، ونحن نتطلع باستمرار للابتكار مع الحفاظ على تقاليدنا وهذه هي روح عجلان وإخوانه..</p>

                    <p>
                        مع خالص التقدير، <br>
                        عجلان بن عبد العزيز العجلان.
                    </p>

                }
                else
                {
                    <p>At Ajlan &amp; Bros. Company, we focus most on our clients and customers, and this has been the case ever since the company began its operations 40 years ago.</p>
                    
                    <p>Since the early stages of production, choosing the raw materials, handling all the necessary details and managing the manufacturing process, we have been committed to offering the best quality products to our loyal customers. We are also committed to protect the environment through ensuring that the criteria of the WRAP and OEKO Tex are abided by all our production facilities.</p>

                    <p>This commitment helped us in consolidating our brand name in the Kingdom of Saudi Arabia and in most of the Arab countries, and even on an international level. We are proud with what our products and brand names have achieved up till now, and we continuously look forward to innovation while maintaining our traditions and customs. These traditions are the soul of Ajlan &amp; Bros. Company.</p>

                    <p>
                        With our sincere appreciation,
                        <br>Ajlan Bin Abdulaziz Al Ajlan
                    </p>
                }
            </div>
            <div class="cols-2 img equalHeight">
                <img src="~/Assets/images/our-message-img.jpg" alt="">
            </div>
        </div>
    </div>
</section>