<section class="consumer about">
    <div class="container">
        <h2 class="title-br">@Html.T("Company info")</h2>

        <div class="clearfix">
            <div class="cols-2 text equalHeight">
                @if (UICulture == "ar")
                {
                    <p> عجلان واخوانه هي شركة سعودية وواحدة من الشركات العالمية الرائدة التي تعمل في مجال تصنيع الملابس التقليدية للرجال في المملكة العربية السعودية ودول الخليج العربي بالاضافة للملابس الجاهزة. تم تأسيسها في عام 1979 م. ومقرها الرئيسي بالرياض ويعمل في شركة عجلان واخوانه حالياً أكثر من 9000 موظف في أكثر من 10 دول.</p>

                    <p>	وتتميز شركة عجلان واخوانه في تجارة الشماغ والغتر والملابس الجاهزة، وهي بذلك تعتبر من الشركات التي واكبت ازدهار ونمو المملكة العربية السعودية، والدخول بقوة في عالم الملابس الرجالية والأشمغة والغتر، التي باتت التخصص الرئيسي لنشاط الشركة، لتصبح واحدة من أكبر الأسماء الخليجية في هذا القطاع الكبير.</p>

                    <p>	كما أن لدي شركة عجلان واخوانه استثمارات كبيرة في مجال العقارات في السعودية وأوروبا وأسيا وأمريكا والصين. كذلك الإستثمار في الملكية الخاصة في أوروبا، آسيا، والشرق الأوسط (البحرين، الإمارات العربية المتحدة، قطر، الهند، الصين، وكوريا) من خلال صندوق الملكية الخاصة أوالإستثمار المباشر, بالإضافة إلى الإستثمار في سوق الأسهم في 25 بلدا.</p>
                }
                else
                {
                    <p>Ajlan & Bros. Company is a Saudi company one of the leading international corporations operating in the field of manufacturing classic menswear in the Kingdom of Saudi Arabia and Arabian Gulf area, in addition to the readymade clothes and winter clothes. The company has been established in 1979 with head office in Riyadh. Ajlan & Bros. Company employs more than 9000 workers in more than 10 countries.</p>
                
                    <p>The company is renowned for trade in men’s headwear such as Yashmagh and Ghuttra as well as readymade clothes. It’s considered one of the companies that witnessed the prosperity and growth of the Kingdom of Saudi Arabia and powerful access into the world of menswear, Yashmagh and Ghuttras that have become the main niche of the company that has become one of the biggest names in the Arabian Gulf in this sector.</p>
                
                    <p>Ajlan & Bros. Company has as well considerable investments in the real estate industry in Saudi Arabia, Europe, Asia, the United States and China. This is in addition to investment in private property in Europe, Asia, Middle East (Bahrain, UAE, Qatar, India, China and Korea) through the private property fund or direct investment. It has as well investments in the stock market in 25 countries.</p>
                }
            </div>
            <div class="cols-2 img equalHeight">
                <img src="~/Assets/images/company-profile.jpg" alt="">
            </div>
        </div>
    </div>
</section>