<section class="media">
    <div class="container">

        <div>
            <h2 class="title-br">@Html.T("Media centers") <span><i class="fa fa-angle-@((UICulture == "ar") ? "left" : "right")" aria-hidden="true"></i>@Html.T("News")</span></h2>

            <div class="media-news-hdr">
                <div class="media-news-hdrtxt">
                    <h2>محمد العجلان محمد العجلانمحمد العجلان :</h2>
                    <p>لمواطن السعودي يعيش فرحة غامرة بآفاق " رؤية المملكة 2030. فرحة غامرة بآفاق رؤية المملكة 2030  لمواطن </p>
                    <span>26 أبريل 2016</span>
                    <a href="" class="btn-more">المزيد</a>
                </div>
            </div>

            <div id="media-news-slider" class="clearfix">
                <div class="media-news-item clearfix">
                    <div class="text equalHeight">
                        <p><span>محمد العجلان :</span> لمواطن السعودي يعيش فرحة غامرة بآفاق " رؤية المملكة 2030</p>
                        <span>26 أبريل 2016</span>
                        <a href="" class="btn-more">المزيد</a>
                    </div>
                    <div class="img equalHeight">
                        <img src="~/Assets/images/media-news-img.jpg" alt="">
                    </div>
                </div>
                <div class="media-news-item clearfix">
                    <div class="text equalHeight">
                        <p><span>محمد العجلان :</span> لمواطن السعودي يعيش فرحة غامرة بآفاق " رؤية المملكة 2030</p>
                        <span>26 أبريل 2016</span>
                        <a href="" class="btn-more">المزيد</a>
                    </div>
                    <div class="img equalHeight">
                        <img src="~/Assets/images/media-news-img.jpg" alt="">
                    </div>
                </div>
                <div class="media-news-item clearfix">
                    <div class="text equalHeight">
                        <p><span>محمد العجلان :</span> لمواطن السعودي يعيش فرحة غامرة بآفاق " رؤية المملكة 2030</p>
                        <span>26 أبريل 2016</span>
                        <a href="" class="btn-more">المزيد</a>
                    </div>
                    <div class="img equalHeight">
                        <img src="~/Assets/images/media-news-img.jpg" alt="">
                    </div>
                </div>
                <div class="media-news-item clearfix">
                    <div class="text equalHeight">
                        <p><span>محمد العجلان :</span> لمواطن السعودي يعيش فرحة غامرة بآفاق " رؤية المملكة 2030</p>
                        <span>26 أبريل 2016</span>
                        <a href="" class="btn-more">المزيد</a>
                    </div>
                    <div class="img equalHeight">
                        <img src="~/Assets/images/media-news-img.jpg" alt="">
                    </div>
                </div>
                <div class="media-news-item clearfix">
                    <div class="text equalHeight">
                        <p><span>محمد العجلان :</span> لمواطن السعودي يعيش فرحة غامرة بآفاق " رؤية المملكة 2030</p>
                        <span>26 أبريل 2016</span>
                        <a href="" class="btn-more">المزيد</a>
                    </div>
                    <div class="img equalHeight">
                        <img src="~/Assets/images/media-news-img.jpg" alt="">
                    </div>
                </div>
                <div class="media-news-item clearfix">
                    <div class="text equalHeight">
                        <p><span>محمد العجلان :</span> لمواطن السعودي يعيش فرحة غامرة بآفاق " رؤية المملكة 2030</p>
                        <span>26 أبريل 2016</span>
                        <a href="" class="btn-more">المزيد</a>
                    </div>
                    <div class="img equalHeight">
                        <img src="~/Assets/images/media-news-img.jpg" alt="">
                    </div>
                </div>
                <div class="media-news-item clearfix">
                    <div class="text equalHeight">
                        <p><span>محمد العجلان :</span> لمواطن السعودي يعيش فرحة غامرة بآفاق " رؤية المملكة 2030</p>
                        <span>26 أبريل 2016</span>
                        <a href="" class="btn-more">المزيد</a>
                    </div>
                    <div class="img equalHeight">
                        <img src="~/Assets/images/media-news-img.jpg" alt="">
                    </div>
                </div>
                <div class="media-news-item clearfix">
                    <div class="text equalHeight">
                        <p><span>محمد العجلان :</span> لمواطن السعودي يعيش فرحة غامرة بآفاق " رؤية المملكة 2030</p>
                        <span>26 أبريل 2016</span>
                        <a href="" class="btn-more">المزيد</a>
                    </div>
                    <div class="img equalHeight">
                        <img src="~/Assets/images/media-news-img.jpg" alt="">
                    </div>
                </div>
                <div class="media-news-item clearfix">
                    <div class="text equalHeight">
                        <p><span>محمد العجلان :</span> لمواطن السعودي يعيش فرحة غامرة بآفاق " رؤية المملكة 2030</p>
                        <span>26 أبريل 2016</span>
                        <a href="" class="btn-more">المزيد</a>
                    </div>
                    <div class="img equalHeight">
                        <img src="~/Assets/images/media-news-img.jpg" alt="">
                    </div>
                </div>
            </div>

            <div class="news-slider-nav">
                <span class="prev"><i class="fa fa-angle-right"></i></span>
                <div class="news-holder holder"></div>
                <span class="next"><i class="fa fa-angle-left"></i></span>
            </div>
        </div>

    </div>
</section>