<section class="media">
    <div class="container">

        <div>
            <h2 class="title-br">@Html.T("Media centers") <span><i class="fa fa-angle-@((UICulture == "ar") ? "left" : "right")" aria-hidden="true"></i>@Html.T("Photos")</span></h2>

            <!-- Swiper -->
            <div class="swiper-container gallery-top">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <a href="#popup-1" class="gallery-popup">
                            <img src="~/Assets/images/media-photos-img01.jpg" alt="">
                            <div class="text">
                                <h3>شماغ بوتشيني رجالي أحمر (2015)</h3>
                                <p>ديلوكس رجالي أحمر لقطة</p>
                                <span>تاريخ</span>
                            </div>
                            <i class="fa fa-search-plus" aria-hidden="true"></i>
                        </a>

                        <div id="popup-1" class="prod-popup mfp-hide">
                            <div class="popup-cont">
                                <h2>شماغ بوتشيني رجالي أحمر (2015)</h2>
                                <p>ديلوكس رجالي أحمر لقطة</p>
                                <p>تاريخ</p>
                                <img src="~/Assets/images/media-photos-img01.jpg" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <a href="#popup-2" class="gallery-popup">
                            <img src="~/Assets/images/media-photos-img01.jpg" alt="">
                            <div class="text">
                                <h3>شماغ بوتشيني رجالي أحمر (2015)</h3>
                                <p>ديلوكس رجالي أحمر لقطة</p>
                                <span>تاريخ</span>
                            </div>
                            <i class="fa fa-search-plus" aria-hidden="true"></i>
                        </a>

                        <div id="popup-2" class="prod-popup mfp-hide">
                            <div class="popup-cont">
                                <h2>شماغ بوتشيني رجالي أحمر (2015)</h2>
                                <p>ديلوكس رجالي أحمر لقطة</p>
                                <p>تاريخ</p>
                                <img src="~/Assets/images/media-photos-img01.jpg" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <a href="#popup-3" class="gallery-popup">
                            <img src="~/Assets/images/media-photos-img01.jpg" alt="">
                            <div class="text">
                                <h3>شماغ بوتشيني رجالي أحمر (2015)</h3>
                                <p>ديلوكس رجالي أحمر لقطة</p>
                                <span>تاريخ</span>
                            </div>
                            <i class="fa fa-search-plus" aria-hidden="true"></i>
                        </a>

                        <div id="popup-3" class="prod-popup mfp-hide">
                            <div class="popup-cont">
                                <h2>شماغ بوتشيني رجالي أحمر (2015)</h2>
                                <p>ديلوكس رجالي أحمر لقطة</p>
                                <p>تاريخ</p>
                                <img src="~/Assets/images/media-photos-img01.jpg" alt="">
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Add Arrows -->
                <div class="swiper-button-next swiper-button-white"></div>
                <div class="swiper-button-prev swiper-button-white"></div>
            </div>
            <div class="swiper-container gallery-thumbs">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <img src="~/Assets/images/media-photos-thumb01.jpg" alt="">
                        <h4>ثوب دروش 2015</h4>
                    </div>
                    <div class="swiper-slide">
                        <img src="~/Assets/images/media-photos-thumb01.jpg" alt="">
                        <h4>ثوب دروش 2015</h4>
                    </div>
                    <div class="swiper-slide">
                        <img src="~/Assets/images/media-photos-thumb01.jpg" alt="">
                        <h4>ثوب دروش 2015</h4>
                    </div>
                </div>

                <div class="gallery-nav">
                    <span class="prev"><i class="fa fa-angle-right"></i></span>
                    <!-- Add Pagination -->
                    <div class="swiper-pagination"></div>

                    <span class="next"><i class="fa fa-angle-left"></i></span>
                </div>
            </div>
        </div>

    </div>
</section>

 <script>
        $(document).ready(function () {
            /*************** product details popup ***************/
            $('.gallery-popup').magnificPopup({
                type: 'inline',
                midClick: true
            });
        });
</script>


