<section class="products">
    <div class="container">
        <div id="products-tabs">
            <ul class="tabs">
                <li><a href="#pro-tabs-1"><img src="~/Assets/images/product-tab1.png" alt=""><span>الأشمغة</span></a></li>
                <li><a href="#pro-tabs-2"><img src="~/Assets/images/product-tab2.png" alt=""><span>الغتر</span></a></li>
                <li><a href="#pro-tabs-3"><img src="~/Assets/images/product-tab3.png" alt=""><span>الثياب</span></a></li>
                <li><a href="#pro-tabs-4"><img src="~/Assets/images/product-tab4.png" alt=""><span>الملابس الداخلية</span></a></li>
            </ul>

            <div id="pro-tabs-1">
                <div class="customBtns">
                    <span class="next nxtbtn"></span>
                    <span class="prev prebtn"></span>
                </div>

                <h2 class="title-br">الأشمغة</h2>
                <div id="pro-tab1" class="clearfix">
                    <div class="slider-item">
                        <a href="">
                            <img src="~/Assets/images/product-logo01.png" alt="">
                            <span class="hover-dtls">
                                <span class="dtls">
                                    <h3>أشمغة بوجاتي المتميزة</h3>
                                    <span class="btn-more">المزيد</span>
                                </span>
                            </span>
                        </a>
                    </div>
                    <div class="slider-item">
                        <a href="">
                            <img src="~/Assets/images/product-logo02.png" alt="">
                            <span class="hover-dtls">
                                <span class="dtls">
                                    <h3>أشمغة بوجاتي المتميزة</h3>
                                    <span class="btn-more">المزيد</span>
                                </span>
                            </span>
                        </a>
                    </div>
                    <div class="slider-item">
                        <a href="">
                            <img src="~/Assets/images/product-logo03.png" alt="">
                            <span class="hover-dtls">
                                <span class="dtls">
                                    <h3>أشمغة بوجاتي المتميزة</h3>
                                    <span class="btn-more">المزيد</span>
                                </span>
                            </span>
                        </a>
                    </div>
                    <div class="slider-item">
                        <a href="">
                            <img src="~/Assets/images/product-logo04.png" alt="">
                            <span class="hover-dtls">
                                <span class="dtls">
                                    <h3>أشمغة بوجاتي المتميزة</h3>
                                    <span class="btn-more">المزيد</span>
                                </span>
                            </span>
                        </a>
                    </div>
                    <div class="slider-item">
                        <a href="">
                            <img src="~/Assets/images/product-logo05.png" alt="">
                            <span class="hover-dtls">
                                <span class="dtls">
                                    <h3>أشمغة بوجاتي المتميزة</h3>
                                    <span class="btn-more">المزيد</span>
                                </span>
                            </span>
                        </a>
                    </div>
                    <div class="slider-item">
                        <a href="">
                            <img src="~/Assets/images/product-logo06.png" alt="">
                            <span class="hover-dtls">
                                <span class="dtls">
                                    <h3>أشمغة بوجاتي المتميزة</h3>
                                    <span class="btn-more">المزيد</span>
                                </span>
                            </span>
                        </a>
                    </div>
                    <div class="slider-item">
                        <a href="">
                            <img src="~/Assets/images/product-logo07.png" alt="">
                            <span class="hover-dtls">
                                <span class="dtls">
                                    <h3>أشمغة بوجاتي المتميزة</h3>
                                    <span class="btn-more">المزيد</span>
                                </span>
                            </span>
                        </a>
                    </div>
                    <div class="slider-item">
                        <a href="">
                            <img src="~/Assets/images/product-logo08.png" alt="">
                            <span class="hover-dtls">
                                <span class="dtls">
                                    <h3>أشمغة بوجاتي المتميزة</h3>
                                    <span class="btn-more">المزيد</span>
                                </span>
                            </span>
                        </a>
                    </div>
                    <div class="slider-item">
                        <a href="">
                            <img src="~/Assets/images/product-logo09.png" alt="">
                            <span class="hover-dtls">
                                <span class="dtls">
                                    <h3>أشمغة بوجاتي المتميزة</h3>
                                    <span class="btn-more">المزيد</span>
                                </span>
                            </span>
                        </a>
                    </div>
                    <div class="slider-item">
                        <a href="">
                            <img src="~/Assets/images/product-logo10.png" alt="">
                            <span class="hover-dtls">
                                <span class="dtls">
                                    <h3>أشمغة بوجاتي المتميزة</h3>
                                    <span class="btn-more">المزيد</span>
                                </span>
                            </span>
                        </a>
                    </div>
                    <div class="slider-item">
                        <a href="">
                            <img src="~/Assets/images/product-logo11.png" alt="">
                            <span class="hover-dtls">
                                <span class="dtls">
                                    <h3>أشمغة بوجاتي المتميزة</h3>
                                    <span class="btn-more">المزيد</span>
                                </span>
                            </span>
                        </a>
                    </div>
                    <div class="slider-item">
                        <a href="">
                            <img src="~/Assets/images/product-logo12.png" alt="">
                            <span class="hover-dtls">
                                <span class="dtls">
                                    <h3>أشمغة بوجاتي المتميزة</h3>
                                    <span class="btn-more">المزيد</span>
                                </span>
                            </span>
                        </a>
                    </div>
                    <div class="slider-item">
                        <a href="">
                            <img src="~/Assets/images/product-logo13.png" alt="">
                            <span class="hover-dtls">
                                <span class="dtls">
                                    <h3>أشمغة بوجاتي المتميزة</h3>
                                    <span class="btn-more">المزيد</span>
                                </span>
                            </span>
                        </a>
                    </div>
                    <div class="slider-item">
                        <a href="">
                            <img src="~/Assets/images/product-logo14.png" alt="">
                            <span class="hover-dtls">
                                <span class="dtls">
                                    <h3>أشمغة بوجاتي المتميزة</h3>
                                    <span class="btn-more">المزيد</span>
                                </span>
                            </span>
                        </a>
                    </div>
                    <div class="slider-item">
                        <a href="">
                            <img src="~/Assets/images/product-logo15.png" alt="">
                            <span class="hover-dtls">
                                <span class="dtls">
                                    <h3>أشمغة بوجاتي المتميزة</h3>
                                    <span class="btn-more">المزيد</span>
                                </span>
                            </span>
                        </a>
                    </div>
                    <div class="slider-item">
                        <a href="">
                            <img src="~/Assets/images/product-logo16.png" alt="">
                            <span class="hover-dtls">
                                <span class="dtls">
                                    <h3>أشمغة بوجاتي المتميزة</h3>
                                    <span class="btn-more">المزيد</span>
                                </span>
                            </span>
                        </a>
                    </div>
                    <div class="slider-item">
                        <a href="">
                            <img src="~/Assets/images/product-logo01.png" alt="">
                            <span class="hover-dtls">
                                <span class="dtls">
                                    <h3>أشمغة بوجاتي المتميزة</h3>
                                    <span class="btn-more">المزيد</span>
                                </span>
                            </span>
                        </a>
                    </div>
                    <div class="slider-item">
                        <a href="">
                            <img src="~/Assets/images/product-logo02.png" alt="">
                            <span class="hover-dtls">
                                <span class="dtls">
                                    <h3>أشمغة بوجاتي المتميزة</h3>
                                    <span class="btn-more">المزيد</span>
                                </span>
                            </span>
                        </a>
                    </div>
                </div>

                <div class="pro-holder1 holder"></div>
            </div>
            <div id="pro-tabs-2">
                <div class="customBtns">
                    <span class="next2 nxtbtn"></span>
                    <span class="prev2 prebtn"></span>
                </div>

                <h2 class="title-br">الغتر</h2>
                <div id="pro-tab2" class="clearfix">
                    <div class="slider-item">
                        <a href="">
                            <img src="~/Assets/images/product-logo01.png" alt="">
                            <span class="hover-dtls">
                                <span class="dtls">
                                    <h3>أشمغة بوجاتي المتميزة</h3>
                                    <span class="btn-more">المزيد</span>
                                </span>
                            </span>
                        </a>
                    </div>
                    <div class="slider-item">
                        <a href="">
                            <img src="~/Assets/images/product-logo02.png" alt="">
                            <span class="hover-dtls">
                                <span class="dtls">
                                    <h3>أشمغة بوجاتي المتميزة</h3>
                                    <span class="btn-more">المزيد</span>
                                </span>
                            </span>
                        </a>
                    </div>
                    <div class="slider-item">
                        <a href="">
                            <img src="~/Assets/images/product-logo03.png" alt="">
                            <span class="hover-dtls">
                                <span class="dtls">
                                    <h3>أشمغة بوجاتي المتميزة</h3>
                                    <span class="btn-more">المزيد</span>
                                </span>
                            </span>
                        </a>
                    </div>
                    <div class="slider-item">
                        <a href="">
                            <img src="~/Assets/images/product-logo04.png" alt="">
                            <span class="hover-dtls">
                                <span class="dtls">
                                    <h3>أشمغة بوجاتي المتميزة</h3>
                                    <span class="btn-more">المزيد</span>
                                </span>
                            </span>
                        </a>
                    </div>
                    <div class="slider-item">
                        <a href="">
                            <img src="~/Assets/images/product-logo05.png" alt="">
                            <span class="hover-dtls">
                                <span class="dtls">
                                    <h3>أشمغة بوجاتي المتميزة</h3>
                                    <span class="btn-more">المزيد</span>
                                </span>
                            </span>
                        </a>
                    </div>
                    <div class="slider-item">
                        <a href="">
                            <img src="~/Assets/images/product-logo06.png" alt="">
                            <span class="hover-dtls">
                                <span class="dtls">
                                    <h3>أشمغة بوجاتي المتميزة</h3>
                                    <span class="btn-more">المزيد</span>
                                </span>
                            </span>
                        </a>
                    </div>
                    <div class="slider-item">
                        <a href="">
                            <img src="~/Assets/images/product-logo07.png" alt="">
                            <span class="hover-dtls">
                                <span class="dtls">
                                    <h3>أشمغة بوجاتي المتميزة</h3>
                                    <span class="btn-more">المزيد</span>
                                </span>
                            </span>
                        </a>
                    </div>
                    <div class="slider-item">
                        <a href="">
                            <img src="~/Assets/images/product-logo08.png" alt="">
                            <span class="hover-dtls">
                                <span class="dtls">
                                    <h3>أشمغة بوجاتي المتميزة</h3>
                                    <span class="btn-more">المزيد</span>
                                </span>
                            </span>
                        </a>
                    </div>
                    <div class="slider-item">
                        <a href="">
                            <img src="~/Assets/images/product-logo09.png" alt="">
                            <span class="hover-dtls">
                                <span class="dtls">
                                    <h3>أشمغة بوجاتي المتميزة</h3>
                                    <span class="btn-more">المزيد</span>
                                </span>
                            </span>
                        </a>
                    </div>
                    <div class="slider-item">
                        <a href="">
                            <img src="~/Assets/images/product-logo10.png" alt="">
                            <span class="hover-dtls">
                                <span class="dtls">
                                    <h3>أشمغة بوجاتي المتميزة</h3>
                                    <span class="btn-more">المزيد</span>
                                </span>
                            </span>
                        </a>
                    </div>
                    <div class="slider-item">
                        <a href="">
                            <img src="~/Assets/images/product-logo11.png" alt="">
                            <span class="hover-dtls">
                                <span class="dtls">
                                    <h3>أشمغة بوجاتي المتميزة</h3>
                                    <span class="btn-more">المزيد</span>
                                </span>
                            </span>
                        </a>
                    </div>
                    <div class="slider-item">
                        <a href="">
                            <img src="~/Assets/images/product-logo12.png" alt="">
                            <span class="hover-dtls">
                                <span class="dtls">
                                    <h3>أشمغة بوجاتي المتميزة</h3>
                                    <span class="btn-more">المزيد</span>
                                </span>
                            </span>
                        </a>
                    </div>
                    <div class="slider-item">
                        <a href="">
                            <img src="~/Assets/images/product-logo13.png" alt="">
                            <span class="hover-dtls">
                                <span class="dtls">
                                    <h3>أشمغة بوجاتي المتميزة</h3>
                                    <span class="btn-more">المزيد</span>
                                </span>
                            </span>
                        </a>
                    </div>
                    <div class="slider-item">
                        <a href="">
                            <img src="~/Assets/images/product-logo14.png" alt="">
                            <span class="hover-dtls">
                                <span class="dtls">
                                    <h3>أشمغة بوجاتي المتميزة</h3>
                                    <span class="btn-more">المزيد</span>
                                </span>
                            </span>
                        </a>
                    </div>
                    <div class="slider-item">
                        <a href="">
                            <img src="~/Assets/images/product-logo15.png" alt="">
                            <span class="hover-dtls">
                                <span class="dtls">
                                    <h3>أشمغة بوجاتي المتميزة</h3>
                                    <span class="btn-more">المزيد</span>
                                </span>
                            </span>
                        </a>
                    </div>
                    <div class="slider-item">
                        <a href="">
                            <img src="~/Assets/images/product-logo16.png" alt="">
                            <span class="hover-dtls">
                                <span class="dtls">
                                    <h3>أشمغة بوجاتي المتميزة</h3>
                                    <span class="btn-more">المزيد</span>
                                </span>
                            </span>
                        </a>
                    </div>
                    <div class="slider-item">
                        <a href="">
                            <img src="~/Assets/images/product-logo01.png" alt="">
                            <span class="hover-dtls">
                                <span class="dtls">
                                    <h3>أشمغة بوجاتي المتميزة</h3>
                                    <span class="btn-more">المزيد</span>
                                </span>
                            </span>
                        </a>
                    </div>
                    <div class="slider-item">
                        <a href="">
                            <img src="~/Assets/images/product-logo02.png" alt="">
                            <span class="hover-dtls">
                                <span class="dtls">
                                    <h3>أشمغة بوجاتي المتميزة</h3>
                                    <span class="btn-more">المزيد</span>
                                </span>
                            </span>
                        </a>
                    </div>
                </div>

                <div class="pro-holder2 holder"></div>
            </div>
            <div id="pro-tabs-3">
                <div class="customBtns">
                    <span class="next3 nxtbtn"></span>
                    <span class="prev3 prebtn"></span>
                </div>

                <h2 class="title-br">الثياب</h2>
                <div id="pro-tab3" class="clearfix">
                    <div class="slider-item">
                        <a href="">
                            <img src="~/Assets/images/product-logo01.png" alt="">
                            <span class="hover-dtls">
                                <span class="dtls">
                                    <h3>أشمغة بوجاتي المتميزة</h3>
                                    <span class="btn-more">المزيد</span>
                                </span>
                            </span>
                        </a>
                    </div>
                    <div class="slider-item">
                        <a href="">
                            <img src="~/Assets/images/product-logo02.png" alt="">
                            <span class="hover-dtls">
                                <span class="dtls">
                                    <h3>أشمغة بوجاتي المتميزة</h3>
                                    <span class="btn-more">المزيد</span>
                                </span>
                            </span>
                        </a>
                    </div>
                    <div class="slider-item">
                        <a href="">
                            <img src="~/Assets/images/product-logo03.png" alt="">
                            <span class="hover-dtls">
                                <span class="dtls">
                                    <h3>أشمغة بوجاتي المتميزة</h3>
                                    <span class="btn-more">المزيد</span>
                                </span>
                            </span>
                        </a>
                    </div>
                    <div class="slider-item">
                        <a href="">
                            <img src="~/Assets/images/product-logo04.png" alt="">
                            <span class="hover-dtls">
                                <span class="dtls">
                                    <h3>أشمغة بوجاتي المتميزة</h3>
                                    <span class="btn-more">المزيد</span>
                                </span>
                            </span>
                        </a>
                    </div>
                    <div class="slider-item">
                        <a href="">
                            <img src="~/Assets/images/product-logo05.png" alt="">
                            <span class="hover-dtls">
                                <span class="dtls">
                                    <h3>أشمغة بوجاتي المتميزة</h3>
                                    <span class="btn-more">المزيد</span>
                                </span>
                            </span>
                        </a>
                    </div>
                    <div class="slider-item">
                        <a href="">
                            <img src="~/Assets/images/product-logo06.png" alt="">
                            <span class="hover-dtls">
                                <span class="dtls">
                                    <h3>أشمغة بوجاتي المتميزة</h3>
                                    <span class="btn-more">المزيد</span>
                                </span>
                            </span>
                        </a>
                    </div>
                    <div class="slider-item">
                        <a href="">
                            <img src="~/Assets/images/product-logo07.png" alt="">
                            <span class="hover-dtls">
                                <span class="dtls">
                                    <h3>أشمغة بوجاتي المتميزة</h3>
                                    <span class="btn-more">المزيد</span>
                                </span>
                            </span>
                        </a>
                    </div>
                    <div class="slider-item">
                        <a href="">
                            <img src="~/Assets/images/product-logo08.png" alt="">
                            <span class="hover-dtls">
                                <span class="dtls">
                                    <h3>أشمغة بوجاتي المتميزة</h3>
                                    <span class="btn-more">المزيد</span>
                                </span>
                            </span>
                        </a>
                    </div>
                    <div class="slider-item">
                        <a href="">
                            <img src="~/Assets/images/product-logo09.png" alt="">
                            <span class="hover-dtls">
                                <span class="dtls">
                                    <h3>أشمغة بوجاتي المتميزة</h3>
                                    <span class="btn-more">المزيد</span>
                                </span>
                            </span>
                        </a>
                    </div>
                    <div class="slider-item">
                        <a href="">
                            <img src="~/Assets/images/product-logo10.png" alt="">
                            <span class="hover-dtls">
                                <span class="dtls">
                                    <h3>أشمغة بوجاتي المتميزة</h3>
                                    <span class="btn-more">المزيد</span>
                                </span>
                            </span>
                        </a>
                    </div>
                    <div class="slider-item">
                        <a href="">
                            <img src="~/Assets/images/product-logo11.png" alt="">
                            <span class="hover-dtls">
                                <span class="dtls">
                                    <h3>أشمغة بوجاتي المتميزة</h3>
                                    <span class="btn-more">المزيد</span>
                                </span>
                            </span>
                        </a>
                    </div>
                    <div class="slider-item">
                        <a href="">
                            <img src="~/Assets/images/product-logo12.png" alt="">
                            <span class="hover-dtls">
                                <span class="dtls">
                                    <h3>أشمغة بوجاتي المتميزة</h3>
                                    <span class="btn-more">المزيد</span>
                                </span>
                            </span>
                        </a>
                    </div>
                    <div class="slider-item">
                        <a href="">
                            <img src="~/Assets/images/product-logo13.png" alt="">
                            <span class="hover-dtls">
                                <span class="dtls">
                                    <h3>أشمغة بوجاتي المتميزة</h3>
                                    <span class="btn-more">المزيد</span>
                                </span>
                            </span>
                        </a>
                    </div>
                    <div class="slider-item">
                        <a href="">
                            <img src="~/Assets/images/product-logo14.png" alt="">
                            <span class="hover-dtls">
                                <span class="dtls">
                                    <h3>أشمغة بوجاتي المتميزة</h3>
                                    <span class="btn-more">المزيد</span>
                                </span>
                            </span>
                        </a>
                    </div>
                    <div class="slider-item">
                        <a href="">
                            <img src="~/Assets/images/product-logo15.png" alt="">
                            <span class="hover-dtls">
                                <span class="dtls">
                                    <h3>أشمغة بوجاتي المتميزة</h3>
                                    <span class="btn-more">المزيد</span>
                                </span>
                            </span>
                        </a>
                    </div>
                    <div class="slider-item">
                        <a href="">
                            <img src="~/Assets/images/product-logo16.png" alt="">
                            <span class="hover-dtls">
                                <span class="dtls">
                                    <h3>أشمغة بوجاتي المتميزة</h3>
                                    <span class="btn-more">المزيد</span>
                                </span>
                            </span>
                        </a>
                    </div>
                    <div class="slider-item">
                        <a href="">
                            <img src="~/Assets/images/product-logo01.png" alt="">
                            <span class="hover-dtls">
                                <span class="dtls">
                                    <h3>أشمغة بوجاتي المتميزة</h3>
                                    <span class="btn-more">المزيد</span>
                                </span>
                            </span>
                        </a>
                    </div>
                    <div class="slider-item">
                        <a href="">
                            <img src="~/Assets/images/product-logo02.png" alt="">
                            <span class="hover-dtls">
                                <span class="dtls">
                                    <h3>أشمغة بوجاتي المتميزة</h3>
                                    <span class="btn-more">المزيد</span>
                                </span>
                            </span>
                        </a>
                    </div>
                </div>

                <div class="pro-holder3 holder"></div>
            </div>
            <div id="pro-tabs-4">
                <div class="customBtns">
                    <span class="next4 nxtbtn"></span>
                    <span class="prev4 prebtn"></span>
                </div>

                <h2 class="title-br">الملابس الداخلية</h2>
                <div id="pro-tab4" class="clearfix">
                    <div class="slider-item">
                        <a href="">
                            <img src="~/Assets/images/product-logo01.png" alt="">
                            <span class="hover-dtls">
                                <span class="dtls">
                                    <h3>أشمغة بوجاتي المتميزة</h3>
                                    <span class="btn-more">المزيد</span>
                                </span>
                            </span>
                        </a>
                    </div>
                    <div class="slider-item">
                        <a href="">
                            <img src="~/Assets/images/product-logo02.png" alt="">
                            <span class="hover-dtls">
                                <span class="dtls">
                                    <h3>أشمغة بوجاتي المتميزة</h3>
                                    <span class="btn-more">المزيد</span>
                                </span>
                            </span>
                        </a>
                    </div>
                    <div class="slider-item">
                        <a href="">
                            <img src="~/Assets/images/product-logo03.png" alt="">
                            <span class="hover-dtls">
                                <span class="dtls">
                                    <h3>أشمغة بوجاتي المتميزة</h3>
                                    <span class="btn-more">المزيد</span>
                                </span>
                            </span>
                        </a>
                    </div>
                    <div class="slider-item">
                        <a href="">
                            <img src="~/Assets/images/product-logo04.png" alt="">
                            <span class="hover-dtls">
                                <span class="dtls">
                                    <h3>أشمغة بوجاتي المتميزة</h3>
                                    <span class="btn-more">المزيد</span>
                                </span>
                            </span>
                        </a>
                    </div>
                    <div class="slider-item">
                        <a href="">
                            <img src="~/Assets/images/product-logo05.png" alt="">
                            <span class="hover-dtls">
                                <span class="dtls">
                                    <h3>أشمغة بوجاتي المتميزة</h3>
                                    <span class="btn-more">المزيد</span>
                                </span>
                            </span>
                        </a>
                    </div>
                    <div class="slider-item">
                        <a href="">
                            <img src="~/Assets/images/product-logo06.png" alt="">
                            <span class="hover-dtls">
                                <span class="dtls">
                                    <h3>أشمغة بوجاتي المتميزة</h3>
                                    <span class="btn-more">المزيد</span>
                                </span>
                            </span>
                        </a>
                    </div>
                    <div class="slider-item">
                        <a href="">
                            <img src="~/Assets/images/product-logo07.png" alt="">
                            <span class="hover-dtls">
                                <span class="dtls">
                                    <h3>أشمغة بوجاتي المتميزة</h3>
                                    <span class="btn-more">المزيد</span>
                                </span>
                            </span>
                        </a>
                    </div>
                    <div class="slider-item">
                        <a href="">
                            <img src="~/Assets/images/product-logo08.png" alt="">
                            <span class="hover-dtls">
                                <span class="dtls">
                                    <h3>أشمغة بوجاتي المتميزة</h3>
                                    <span class="btn-more">المزيد</span>
                                </span>
                            </span>
                        </a>
                    </div>
                    <div class="slider-item">
                        <a href="">
                            <img src="~/Assets/images/product-logo09.png" alt="">
                            <span class="hover-dtls">
                                <span class="dtls">
                                    <h3>أشمغة بوجاتي المتميزة</h3>
                                    <span class="btn-more">المزيد</span>
                                </span>
                            </span>
                        </a>
                    </div>
                    <div class="slider-item">
                        <a href="">
                            <img src="~/Assets/images/product-logo10.png" alt="">
                            <span class="hover-dtls">
                                <span class="dtls">
                                    <h3>أشمغة بوجاتي المتميزة</h3>
                                    <span class="btn-more">المزيد</span>
                                </span>
                            </span>
                        </a>
                    </div>
                    <div class="slider-item">
                        <a href="">
                            <img src="~/Assets/images/product-logo11.png" alt="">
                            <span class="hover-dtls">
                                <span class="dtls">
                                    <h3>أشمغة بوجاتي المتميزة</h3>
                                    <span class="btn-more">المزيد</span>
                                </span>
                            </span>
                        </a>
                    </div>
                    <div class="slider-item">
                        <a href="">
                            <img src="~/Assets/images/product-logo12.png" alt="">
                            <span class="hover-dtls">
                                <span class="dtls">
                                    <h3>أشمغة بوجاتي المتميزة</h3>
                                    <span class="btn-more">المزيد</span>
                                </span>
                            </span>
                        </a>
                    </div>
                    <div class="slider-item">
                        <a href="">
                            <img src="~/Assets/images/product-logo13.png" alt="">
                            <span class="hover-dtls">
                                <span class="dtls">
                                    <h3>أشمغة بوجاتي المتميزة</h3>
                                    <span class="btn-more">المزيد</span>
                                </span>
                            </span>
                        </a>
                    </div>
                    <div class="slider-item">
                        <a href="">
                            <img src="~/Assets/images/product-logo14.png" alt="">
                            <span class="hover-dtls">
                                <span class="dtls">
                                    <h3>أشمغة بوجاتي المتميزة</h3>
                                    <span class="btn-more">المزيد</span>
                                </span>
                            </span>
                        </a>
                    </div>
                    <div class="slider-item">
                        <a href="">
                            <img src="~/Assets/images/product-logo15.png" alt="">
                            <span class="hover-dtls">
                                <span class="dtls">
                                    <h3>أشمغة بوجاتي المتميزة</h3>
                                    <span class="btn-more">المزيد</span>
                                </span>
                            </span>
                        </a>
                    </div>
                    <div class="slider-item">
                        <a href="">
                            <img src="~/Assets/images/product-logo16.png" alt="">
                            <span class="hover-dtls">
                                <span class="dtls">
                                    <h3>أشمغة بوجاتي المتميزة</h3>
                                    <span class="btn-more">المزيد</span>
                                </span>
                            </span>
                        </a>
                    </div>
                    <div class="slider-item">
                        <a href="">
                            <img src="~/Assets/images/product-logo01.png" alt="">
                            <span class="hover-dtls">
                                <span class="dtls">
                                    <h3>أشمغة بوجاتي المتميزة</h3>
                                    <span class="btn-more">المزيد</span>
                                </span>
                            </span>
                        </a>
                    </div>
                    <div class="slider-item">
                        <a href="">
                            <img src="~/Assets/images/product-logo02.png" alt="">
                            <span class="hover-dtls">
                                <span class="dtls">
                                    <h3>أشمغة بوجاتي المتميزة</h3>
                                    <span class="btn-more">المزيد</span>
                                </span>
                            </span>
                        </a>
                    </div>
                </div>

                <div class="pro-holder4 holder"></div>
            </div>
        </div>
    </div>
</section>  

