<section class="products-dtls">
    <div class="container">
        <ul class="clearfix">
            <li><a href="products.html#pro-tabs-1" class="active"><img src="~/Assets/images/product-tab1.png" alt=""><span>الأشمغة</span></a></li>
            <li><a href="products.html#pro-tabs-2"><img src="~/Assets/images/product-tab2.png" alt=""><span>الغتر</span></a></li>
            <li><a href="products.html#pro-tabs-3"><img src="~/Assets/images/product-tab3.png" alt=""><span>الثياب</span></a></li>
            <li><a href="products.html#pro-tabs-4"><img src="~/Assets/images/product-tab4.png" alt=""><span>الملابس الداخلية</span></a></li>
        </ul>

        <div class="products-dtls-slider">
            <div class="customBtns">
                <span class="next nxtbtn"></span>
                <span class="prev prebtn"></span>
            </div>

            <h2 class="title-br">الأشمغة<span><i class="fa fa-angle-left" aria-hidden="true"></i>بوتشيني</span></h2>
            <div id="pro-dtls-slider" class="clearfix">
                <div class="slider-item">
                    <a href="#popup-1" class="product-dtls-popup">
                        <img src="~/Assets/images/prodtls-pro1-img1.png" alt="">
                        <span class="hover-dtls">
                            <span class="dtls">
                                <span class="btn-more">إضغط للتكبير</span>
                            </span>
                        </span>
                    </a>
                    <h3>شماغ بوتشيني رجالي أحمر (2015)</h3>

                    <div id="popup-1" class="prod-popup mfp-hide">
                        <div class="popup-cont">
                            <h2>شماغ بوتشيني رجالي أحمر (2015)</h2>
                            <p>ديلوكس رجالي أحمر لقطة</p>
                            <p>رمز المنتج:<span>703100258</span></p>
                            <a href="" class="btn-more">اشتري الآن</a>
                            <img src="~/Assets/images/prodtls-pro1-img1-popup.jpg" alt="">
                        </div>
                    </div>
                </div>
                <div class="slider-item">
                    <a href="#popup-2" class="product-dtls-popup">
                        <img src="~/Assets/images/prodtls-pro1-img2.png" alt="">
                        <span class="hover-dtls">
                            <span class="dtls">
                                <span class="btn-more">إضغط للتكبير</span>
                            </span>
                        </span>
                    </a>
                    <h3>شماغ بوتشينى رجالي احمر لقطة</h3>

                    <div id="popup-2" class="prod-popup mfp-hide">
                        <div class="popup-cont">
                            <h2>شماغ بوتشيني رجالي أحمر (2015)</h2>
                            <p>ديلوكس رجالي أحمر لقطة</p>
                            <p>رمز المنتج:<span>703100258</span></p>
                            <a href="" class="btn-more">اشتري الآن</a>
                            <img src="~/Assets/images/prodtls-pro1-img2.png" alt="">
                        </div>
                    </div>
                </div>
                <div class="slider-item">
                    <a href="#popup-3" class="product-dtls-popup">
                        <img src="~/Assets/images/prodtls-pro1-img3.png" alt="">
                        <span class="hover-dtls">
                            <span class="dtls">
                                <span class="btn-more">إضغط للتكبير</span>
                            </span>
                        </span>
                    </a>
                    <h3>شماغ بوتشينى رجالي احمر لقطة</h3>

                    <div id="popup-3" class="prod-popup mfp-hide">
                        <div class="popup-cont">
                            <h2>شماغ بوتشيني رجالي أحمر (2015)</h2>
                            <p>ديلوكس رجالي أحمر لقطة</p>
                            <p>رمز المنتج:<span>703100258</span></p>
                            <a href="" class="btn-more">اشتري الآن</a>
                            <img src="~/Assets/images/prodtls-pro1-img3.png" alt="">
                        </div>
                    </div>
                </div>
                <div class="slider-item">
                    <a href="#popup-4" class="product-dtls-popup">
                        <img src="~/Assets/images/prodtls-pro1-img4.png" alt="">
                        <span class="hover-dtls">
                            <span class="dtls">
                                <span class="btn-more">إضغط للتكبير</span>
                            </span>
                        </span>
                    </a>
                    <h3>شماغ بوتشينى رجالي احمر لقطة</h3>

                    <div id="popup-4" class="prod-popup mfp-hide">
                        <div class="popup-cont">
                            <h2>شماغ بوتشيني رجالي أحمر (2015)</h2>
                            <p>ديلوكس رجالي أحمر لقطة</p>
                            <p>رمز المنتج:<span>703100258</span></p>
                            <a href="" class="btn-more">اشتري الآن</a>
                            <img src="~/Assets/images/prodtls-pro1-img4.png" alt="">
                        </div>
                    </div>
                </div>
                <div class="slider-item">
                    <a href="#popup-5" class="product-dtls-popup">
                        <img src="~/Assets/images/prodtls-pro1-img5.png" alt="">
                        <span class="hover-dtls">
                            <span class="dtls">
                                <span class="btn-more">إضغط للتكبير</span>
                            </span>
                        </span>
                    </a>
                    <h3>شماغ بوتشينى رجالي ابيض شلش</h3>

                    <div id="popup-5" class="prod-popup mfp-hide">
                        <div class="popup-cont">
                            <h2>شماغ بوتشيني رجالي أحمر (2015)</h2>
                            <p>ديلوكس رجالي أحمر لقطة</p>
                            <p>رمز المنتج:<span>703100258</span></p>
                            <a href="" class="btn-more">اشتري الآن</a>
                            <img src="~/Assets/images/prodtls-pro1-img5.png" alt="">
                        </div>
                    </div>
                </div>
                <div class="slider-item">
                    <a href="#popup-6" class="product-dtls-popup">
                        <img src="~/Assets/images/prodtls-pro1-img6.png" alt="">
                        <span class="hover-dtls">
                            <span class="dtls">
                                <span class="btn-more">إضغط للتكبير</span>
                            </span>
                        </span>
                    </a>
                    <h3>شماغ بوتشينى رجالي بيج شلش</h3>

                    <div id="popup-6" class="prod-popup mfp-hide">
                        <div class="popup-cont">
                            <h2>شماغ بوتشيني رجالي أحمر (2015)</h2>
                            <p>ديلوكس رجالي أحمر لقطة</p>
                            <p>رمز المنتج:<span>703100258</span></p>
                            <a href="" class="btn-more">اشتري الآن</a>
                            <img src="~/Assets/images/prodtls-pro1-img6.png" alt="">
                        </div>
                    </div>
                </div>
                <div class="slider-item">
                    <a href="#popup-7" class="product-dtls-popup">
                        <img src="~/Assets/images/prodtls-pro1-img1.png" alt="">
                        <span class="hover-dtls">
                            <span class="dtls">
                                <span class="btn-more">إضغط للتكبير</span>
                            </span>
                        </span>
                    </a>
                    <h3>شماغ بوتشينى رجالي بيج شلش</h3>

                    <div id="popup-7" class="prod-popup mfp-hide">
                        <div class="popup-cont">
                            <h2>شماغ بوتشيني رجالي أحمر (2015)</h2>
                            <p>ديلوكس رجالي أحمر لقطة</p>
                            <p>رمز المنتج:<span>703100258</span></p>
                            <a href="" class="btn-more">اشتري الآن</a>
                            <img src="~/Assets/images/prodtls-pro1-img1.png" alt="">
                        </div>
                    </div>
                </div>
            </div>

            <div class="pro-dtls-holder holder"></div>
        </div>
    </div>
</section>    

@section scripts {
<script>
        $(document).ready(function () {
            /*************** product details popup ***************/
            $('.product-dtls-popup').magnificPopup({
                type: 'inline',
                midClick: true
            });
        });
</script>
}